/* GLOBAL STYLES */

body {
	background-color: #fff;
}

code {
    font-size: 1.1em;
    font-weight: bold;
}

/* WRAPPER */

.wrapper {
    width: 948px;
    margin: 0 auto;
}

/* HEADER */

.header {
    border: 3px double  gray;
    margin-bottom: 20px;
    background-color: #dedede;
    padding: 10px;
}

/* NAVIGATION */

.menu {
    background-color: silver;
    border: 1px solid gray;
}

.flex-container {
    display:flex;
    list-style-type:none;
    padding:0;
    margin:0;
}

.nav-link {
    display:block;
    padding:10px 20px;
    color:black;
    text-decoration:none;
}

.nav-link:hover {
    background-color:gray;
    color:#fff;
}

/* MAIN */

.main-content {
    border: 3px double gray;
    background-color: #dedede;
    padding: 10px;
}