/* GLOBAL STYLES */

body {
	background-color: azure;
}

code {
	font-size: 1.1em;
	font-weight: bold;
}

/* WRAPPER */

.wrapper {
	width: 948px;
	margin: 0 auto;
	background-color: aliceblue;
	border: 3px solid lightsteelblue;
}

/* HEADER */

.header {
	padding-top: 20px;
	background-color: powderblue;
}

.heading {
	padding-left: 10px;
	margin: 0;
}

.intro {
	padding-left: 10px;
}

.flex-container {
	display:flex;
    list-style-type:none;
	padding:0;
	justify-content:space-between;
}

.list {
	flex-grow:1;
}

.nav-link {
	display:block;
    padding:10px 25px;
	margin:0 5px;
    text-align:center;
    text-decoration:none;
	background-color:aquamarine;
}

.nav-link:hover {
	background-color:gray;
}
.diff-nav {
	display:block;
    padding:10px 25px;
	margin:0 5px;
    text-align:center;
    text-decoration:none;
	background-color:azure;
}

.diff-nav:hover {
	background-color:gray;

}

/* MAIN */

.main-content {
	padding: 10px;
}